<div class="quiz-header-container">
    <span class="quiz-header">Question {{questionNumber}}/{{quiz?.length()}}</span>
    <div class="quiz-header-container-right">
      <span *ngIf="settings.showTimer" class="quiz-time">{{quiz?.timer.ellapsedTime | date: 'mm:ss'}}</span>
    </div>
</div>

<div>
  <p>{{quiz?.currentQuestion.content}}</p>
</div>

<p class="answer-options-header">Select an answer:</p>
<div class="answer-options-container">
  <div *ngFor="let answerOption of quiz?.currentQuestion.answerOptions" class="answer-option-btn">
    <input type="radio" name="answer-options" [value]="answerOption"
        [(ngModel)]="selectedAnswer"
        (click)="onAnswerOptionClick(answerOption)">
    {{answerOption}}
  </div>
</div>

<div>
  <button class="next-btn" (click)="onNextBtnClick()" [disabled]="!quiz?.currentQuestionIsAnswered()">
    {{quiz?.hasNextQuestion() ? "Next" : "Finish"}}
  </button>
</div>