<div>
  <p>{{quiz.currentQuestion.content}}</p>
</div>

<div class="answer-options-container">
  <div *ngFor="let answerOption of quiz.currentQuestion.answerOptions" class="answer-option-btn">
    <input type="radio" name="answer-options" [value]="answerOption" 
        (click)="onAnswerOptionClick(answerOption)">
    {{answerOption}}
  </div>
  
  <!-- <mat-radio-group>
    <mat-radio-button *ngFor="let answerOption of quiz.currentQuestion.answerOptions"
          [value]="answerOption" class="answer-option-btn">
      {{answerOption}}
    </mat-radio-button>
  </mat-radio-group> -->
      

  <!-- <select>
    <option *ngFor="let answerOption of quiz.currentQuestion.answerOptions"
              [value]="answerOption">
      {{answerOption}}
    </option>
  </select> -->

  <!--
  <ul>
    <li *ngFor="let answerOption of quiz.currentQuestion.answerOptions"
          (click)="onAnswerOptionClick(answerOption)">
      <span>{{answerOption}}</span>
    </li>
  </ul>
  -->
</div>

<div>
  <button (click)="onNextBtnClick()" [disabled]="!quiz.currentQuestionIsAnswered()">
    {{quiz.hasNextQuestion() ? "Next" : "Finish"}}
  </button>
</div>